.App {
  text-align: center;
  text-size-adjust: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form div {
  display: block;
  margin-bottom: 10px;
}

form label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
  margin-right: 10px;
}

form input {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  width: 200px;
}

.product-detail-form{
  border: 1px solid rgb(204, 204, 204) !important;
  border-color: black !important;
  border-radius: 4px !important;
  height: 45px;
  width: 100%;
  margin-top: 20px;
}
