.center {
  text-align: center;
}
h1 {
  font-family: "Times New Roman", Times, serif;
}
/*
input[type="text"] {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  outline: none;
  width: auto;
  height: 0px;
  box-sizing: border-box;
}
*/
.btn-stock {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
button {
  
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
 
}
.search-area{
  text-align: center;
   
}
button {
  background-color: purple;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 160px;
  height: 100px;
  
}


.menu-icon {
  display: flex;
  cursor: pointer;
  position: relative;
  z-index: 2;
  padding: 10px;
}


/* Menü simgesi rengi varsayılan olarak siyah */
.menu-icon svg {
  width: 30px;
  height: 30px;
  color: black;
}

/* Menü açıkken menü simgesini beyaz yap */
.menu-icon.menu-open svg {
  color: white;
}


.menu-items {
  background-color: #760D9B; /* Mor arka plan rengi */
  display: flex;
  flex-direction: column;
  position: absolute;
  border-bottom: 1px solid #ccc;
  z-index: 1;
  left: 0;
  padding-bottom: 400px;
  padding-top: 40px;
  width: 350px;

}
.logo-link{
  text-decoration: none;
  color:black;
  margin-top:10px;
  width: 100px;
  font-style: italic;
  font-size: 15px;
}
.menu-items-link{
  text-decoration: none;
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
.menu-items-link:hover{
  text-decoration: none;
  color:white;
}
.stokkontrol{
margin-top: 20px;
font-family: 'Times New Roman';
font-style: italic;
font-weight: bold;
color: #FFFFFF;
width: 250px;
height: 100px;
}
.baslik{
font-family: 'Times New Roman';
font-style: italic;
font-weight: bold;
text-align: center;
}
.baslik:hover{
  font-family: 'Times New Roman';
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color:black
  }
.cards {
  
  position: relative;
  top: -20px;
}
h1 {
  text-align: center;
}
.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}
.cards__items {
  margin-bottom: 24px;
}
.cards__item {
  width: 300px;
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  background-color: white;
}
.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}
.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}
.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}
.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}
.cards__item__img:hover {
  transform: scale(1.1);
}
.cards__item__info {
  padding: 20px 30px 30px;
}
.cards__item__text {
  color: #252E48;
  font-size: 18px;
  line-height: 24px;
}
.image__title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.image__description {
  font-size: 1rem;
  width: 300px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (min-width: 1200px) {
 
  .content__blog__container {
    width: 84%;
  }
  .cards {
    height: 710px;
    padding-top: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}
@media only screen and (min-width: 415px) and (max-width: 1023px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 415px) {
  .cards__item {
    margin-bottom: 2rem;
    width: 80%;
  }
  
}

.service-title {
  font-family: sans-serif;
  font-size: 9vmin;
  font-weight: bold;
  color: #DE9972;
}
@media only screen and (max-width: 1024px) {
 
  
  .image__description {
    max-width: 180px !important;
  }
}

.admisgiris {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: sans-serif;
}

.admisgiris label {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
 
}

.admisgiris input {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #893694;
  border-radius: 5px;
  font-size: 16px;
  width: 350px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
.admisgiris button {
  background-color: #893694;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  height: 40px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  
}

.admisgiris button:hover {
  background-color: #0069d9;
}
.listedeara {
  position: relative;
  display: inline-block;
}

.listedeara input[type="text"] {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
}

.listedeara input[type="text"]::placeholder {
  color: #a9a9a9;
}

.listedeara button {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.listedeara button:hover {
  color: #f00;
}

.listedeara button:focus {
  outline: none;
}


.admisgiris p {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #ddd;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
.hosgeldiniz{
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-style: italic;
}
.adgiris{
  background-color: white;
}
.adminpanelyazi{
  text-align: left;
}
.carousel {
 padding: 50px;

  margin: 0 auto; /* Slider'ı ortalamak için kullanılabilir */
}

.carousel-item img {
  max-height: 300px; /* Slider içindeki resimlerin maksimum yüksekliğini belirleyin */
  object-fit: cover; /* Resimlerin kırpılarak sığdırılmasını sağlar */
}

/*
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
  bottom: 0; 
  width: 100%; 
}
*/

.kategori{
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
}
.renk{
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.fiyat{
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.boyut{
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.kategori1{
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 30px;
}
.renk1{
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 30px;
}
.fiyat1{
  margin-bottom: 100px;
  padding-bottom: 30px;
}
.boyut1{
  margin-bottom: 100px;
  padding-bottom: 30px;
}

 




@media screen and (min-width: 993px)  {
  .navbar-right{
   position: absolute !important;
   right:30px !important;
  }
  .navbar-left{
   position: absolute !important;
   left:20px !important;
  }
  .navbar-logo-action{
   position: relative;
   left: 600px; 
  }  
}


.menu-items-icon{
  margin-right: 10px;
}
.detay-buton{
 background-color: transparent;
 width: 40px;
 height: 40px;
 margin-right: 20px;
 margin-top: 20px;
 
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav li {
  margin-right: 10px;
  margin-left: 10px;
  
  font-family: 'Times New Roman', Times, serif;
}
.nav-barblog{
  background-color: #893694;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.blog-container {
  display: flex;
  flex-wrap: wrap;
}

.blog-card {
  width: calc(50% - 20px);
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.blog-card h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.blog-card p {
  margin-bottom: 10px;
}

.blog-card a {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: purple;
  color: white;
  text-decoration: none;
}

.input-action{
  padding: 10px;
  border: 1px solid #893694;
  border-radius: 5px;
  font-size: 16px;
  width: 360px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
.button-action{
  background-color: #893694;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  height: 40px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  width: 150px;
}
.carousel-indicators [data-bs-target]{
  background-color: gray !important;
}

.profile-text{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}
.profile-text-password{
  font-family: 'Times New Roman', Times, serif;
 text-align: left;
}
.profile-hr{
 
  text-align: center ;
  justify-content: center;
  margin-bottom:20px !important;
}
.profile-card-area{
  text-align:center;
  width:50%;
  margin:auto;
}
.favorite-card-area{
  width: 70%;
  text-align:center;
  margin:auto;
}
.product-info-area{
  text-align:left;
  margin:auto;
}
.profile-password{
  color: #893694;
  text-decoration:none;
  font-style:italic;
  font-family: 'Times New Roman', Times, serif;
  background:transparent;
  height:auto;
  font-size: 18px;
}


.address-radio{
  margin-left: 25%;
}
.product-info-img {
  width: 200px;
  height: 250px;
  margin-right: 5%;
  border-radius: 15px;
  object-fit: contain;
}

.basket-image {
  width: 120px;
  height: 150px;
  border-radius: 10px;
  object-fit: contain;
} 
.basket-delete-image {
  width: 20px;
  height: 20px;
} 

.product-info-detay{
  margin-top: 2%;
 
  
}
.basket-no-product{
  font-size: 150%;
  font-style: italic;
  font-weight: 700;
}

.basket-no-product-button{
  border-radius: 12px;
  height: 55px;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  width: 40%;
  margin-top: 25px;
}
@media only screen and (max-width: 700px) {
 
  .profile-hr{
    width:90%;
    text-align: center ;
    justify-content: center;
    margin-bottom:20px !important;
  }
 
  .profile-card-area{
    width: 100%;
    padding: 20px;
  }
  .profile-password{
    color: #893694 ;
    text-decoration: none ;
    font-style: italic;
   
    background:transparent;
    height:auto
  }
  
.product-info-detay{
  word-wrap: break-word;
}

.address-radio{
  margin-left: 8%;
}
.product-info-img {
  width: 150px;
  height: 200px;
  margin-right: 9%;
  border-radius: 15px;
}
.mobile-generic-css
{

  margin-top: 20% !important;
}
.basket-no-product-button{
  width: 80%;
}
}

.navbar-toggler{
  
  width: 50px !important;
  height: 50px !important;
}


.table-light{
--bs-table-color: white !important;
--bs-table-bg: white !important;
--bs-table-border-color:  white !important;
--bs-table-striped-bg: white !important;
--bs-table-striped-color:  white !important;
--bs-table-active-bg: white !important;
--bs-table-active-color: white !important;
--bs-table-hover-bg:  white !important;
--bs-table-hover-color: white !important;
color: black !important;
border-color: var(--bs-table-border-color);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23893694'%3E%3Cpath d='M8 12.5L2.5 7h11z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 1em);
  background-position-y: center;
  border: none;
  padding-right: 1em;
  width: 100%;
  font-style: italic;
}
.stock-button {
  width: 75px;
  height: 45px;
  background: white;
  color: purple;
  border: 1px solid grey;
  font-size: 25px;
  padding: 2px 5px;
  text-align: center;
  font-weight: bolder;
}
input[type='radio'] {
  accent-color: #893694;
}
.stock-count{
  background-color: #D9D9D9;
  padding: 14px 60px 8px 60px;
}


.menu-items-admin{
  background-color: #893694;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-bottom: 1px solid #ccc;
  z-index: 100;
  left: 0;
  padding-bottom: 400px;
  padding-top: 40px;
  width: 350px;
}

.menu-items-admin-link {
  text-decoration: none;
  color: white;
  margin-bottom: 5px !important;
  font-family: 'Times New Roman', Times, serif;
}
.navbar-admin-left{
  left: 0px !important;
}

.admin-first-area-box{
  width: 35%;
  border:1px solid;
  color:white;
  font-size:18px;
  padding:40px 30px 10px;
  border-radius: 10px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 1200px) {
  .admin-first-area-box{
    width: 150% ;
    font-size:14px;
    padding:10px 40px;
  }
  .admin-first-area-box-icon{
    width: 32px;
    height: 32px;  
  }
  .admin-panel-left{
    width: 100% !important;
  }
  .admin-panel-right{
    width: 100% !important;
  }
  .admin-last-product-area{
    margin-left:0px !important;
  }
  .cards-area{
    padding:0px !important;
  }
  .admin-search-page{
    margin:30px !important;
  }
  .admin-search-area{
    width: 90% !important;
  }
  .add-product-area{
    display: block !important;
  }
  .add-product-area-items{
    margin-left: 0 !important;
  }
    
} 
.admin-search-area{
  width: 50%;
  border:none;
  border-bottom:1px solid black;
}
.satinal-button{
  width: 110px;
  height: 40px;
  border-radius: 5px;
  background-color: #893694;
  font-family: times new roman;
  font-weight: bold;
  font-style: italic;
}
.menu-items-container {
  max-height: 500px; /* Adjust the height as needed */
  overflow-y: auto;
}

.back-button{
  background: transparent;
 width: auto;
 height: auto;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  

}
.edit-input-area{
  border:none;
  font-weight: 600;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.search-button{
  background-color: transparent;
  width: auto;
  height: auto;
  padding:0;
  
}

.save-button{
  background-color: #893694;
  width: auto;
  height: auto;
  padding:10px 30px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  border-radius: 5px;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup {
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.close {
  position: relative;
  float: right;
  cursor: pointer;
  font-size: 30px;
  color:black;
  top:-20px
}

.input-wrapper {
  margin-bottom: 10px;
}

.preview-image {
  width: 200px;
  margin-top: 10px;
}


.editIconContainer{
  position: relative;
  top: -100px;
  left: 40px;
  background-color: white;
  padding:10px;
  border-radius: 50% 0 50% 50%;
}


.favori-page{
 padding:100px;
}

.product-info-page{
  padding:100px;
 }
@media only screen and (max-width: 768px) {

  .favori-page{
    padding:100px 20px;
  }
  .product-info-page{
    padding:100px 20px;
  }
  .basket-image {
    width: 100px;
    height: 120px;
    margin-right: 10px;
  } 
  .basket-delete-image {
    width: 12px;
    height: 12px;
  } 
 
} 
.container {
  display: flex;
  margin-left: 10px;
}




.right-panel {
  flex: 2;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  padding: 10px;
  cursor: pointer;
}

li.selected {
  background-color: #f0f0f0;
  font-weight: bold;
}


.contact-page {
  padding: 7% 8% 10% 8%;
  
}

.contact-heading {
  font-size: 5vh;
}

.contact-section {
  padding: 0 2% 0 2%;
  display: flex;
}

.contact-subheading {
  font-size: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-section p {
  margin-top: -2px;
  font-size: 100%;

}

.react-datepicker__header{
  background-color: #893694 !important;
}

.react-datepicker__month{
  margin:0px !important;
  background-color: #E7D1EA !important;
}

.quantity-selector{
  border: 1px solid black;
  padding: 13px 10px;
  border-radius: 5px;
  margin-left: 30px;
}

.navbar{
  background-color: white;
}

.product-card{
  margin-bottom: 50px;
}
.cardimage{
  width: "100%";
  height: "auto"; 
  max-width : "100%";
  max-height: "200px";
}
.textcard {
  font-size: 24px;
 }
 @media (max-width: 768px) {
  .textcard {
    font-size: 14px; 
  }
  .cardimage {
  width: "70%";
  max-width : "100%";
  max-height: "200px";
  }
}


